@import url("https://fonts.googleapis.com/css?family=Readex+Pro:200,300,regular,500,600,700");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  --maincolor: #066464;
  --bgcolor: #ebecf0;
}

* {
  font-family: "Readex Pro";
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1554224154-26032ffc0d07?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1652&q=80");
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  background-color:var(--bgcolor);
  border-radius: 16px;
  padding: 200px 200px;
  justify-content: center;
  flex-wrap: wrap;
}

.boas-vindas {
  width: 1200px;
  padding: 0px 0px 25px 0px;
  border-bottom: solid 3px var(--maincolor);
  border-width: 5px;
}

h1 {
  color: var(--maincolor);
  font-size: 90pt;
  line-height: 1em;
  padding-bottom: 0.2em;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.178);
}

h2 {
  color: var(--maincolor);
  font-size: 36pt;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
}

.botoes {
  padding-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1215px;
  width: 101%;
}

.botoes > a {
  background-color: transparent;
  border-style: none;
  text-decoration: none;
}

.botoes > a > button {
  display: flex;
  padding: 20px;
  margin: 15px 15px 0px 0px;
  font-size: 18pt;
  font-weight: 300;
  min-width: 550px;
  border-radius: 16px;
  text-align: left;
  gap: 25px;
  background-color: var(--bgcolor);
  border-color: transparent;
  border-width: 4px;
  border-style: solid;
  transition: all 250ms ease-in-out;
  align-items: center;
  box-shadow: 8px 8px 12px -2px rgba(72, 79, 96, 0.4), -6px -6px 12px -1px white;
  cursor: pointer;
}

.botoes > a > button:hover {
  box-shadow: none;
  border-color: var(--maincolor);
}

.botoes > a > button:active {
  box-shadow: inset -5px -5px 8px 0px white,
    inset 2px 2px 11px 0px rgb(31 36 49 / 44%);
  border-color: rgb(255, 255, 255);
}

.botoes > a > button:focus {
  border-color: rgb(255, 255, 255);
  background-color: #066464;
  box-shadow: inset -5px -5px 8px 0px rgba(255, 255, 255, 0.274),
    inset 2px 2px 11px 0px rgb(31 36 49 / 44%);
  color: white;

  .icon {
    width: 60px;
    filter: brightness(
      100
    ); /* isso vai girar a tonalidade das imagens em 180 graus */
  }
}

.icon {
  width: 60px;
}

.calculadora {
  margin-left: 50px;
  padding: 40px;
  background: #dde1e7;
  height: 700px;
  min-width: 601px;
  box-shadow: inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);
  border-radius: 10px;
}

.seletor {
  margin-right: 0;
}

@media only screen and (max-width: 1930px) {
.calculadora{
  margin-top: 60px;
}

}

@media only screen and (max-width: 900px) {

  main{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Reduzindo a largura do menu */
  .boas-vindas {
    width: 80%;
    margin: 50% auto auto auto;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: solid 5px #066464;
  }

  h1{
    font-size: 24pt;
    line-height: 0.7em;
  }

  h2{
    font-size: 14pt;
  }


  /* Mudando o layout dos botões para duas colunas */
  .botoes {
    margin:auto;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
  }

  /* Reduzindo o tamanho dos botões */
  .botoes > a > button {
    min-width: 350px;
    width: 75%;
    margin:auto;
    font-size: 14pt;
    margin-bottom: 10px;

  .icon {
    width: 9%;
  }

  }

  .botoes > a > button:focus {
    border-color: rgb(255, 255, 255);
    background-color: #066464;
    box-shadow: inset -5px -5px 8px 0px rgba(255, 255, 255, 0.274),
      inset 2px 2px 11px 0px rgb(31 36 49 / 44%);
    color: white;

    .icon {
      width: 9%;
      filter: brightness(
        100
      ); /* isso vai girar a tonalidade das imagens em 180 graus */
    }
  }

  .botoes > a > button:hover {
    box-shadow: none;
    border-color: var(--maincolor);
  }
  /* Colocando a calculadora embaixo do seletor */
  .calculadora {
    margin-left: auto;
    margin-right: auto;
  }
  /* Reduzindo a largura da calculadora */
  .calculadora {
    min-width: auto;
  }
}
